html, body{
    height: 100%;
    width: 100%;
    /* background-color: coral; */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 10%;
    width: 100%;
    background-color: beige;
}
.main{
    height: 80%;
    width: 100%;
    background-color: aqua;
    padding: 3Px;
    display: flex;
    flex-wrap: wrap;
}
.footer{
    height: 10%;
    width: 100%;
    background-color: black;
}

/* descendent selector/child selector */
.main .card{
    height: 40%;
    width: 25%;
    background-color: crimson;
    margin: 3px;
    border-radius: 5px;
}